.projectdiv {
    width: 90vw;
    margin: 0 auto;
    margin-top: 150px
}

.projectcontainer {
    width: 90vw;
    margin: 0 auto;
    font-family: "Work Sans", sans-serif;
    margin-bottom: 20px;
}

.project h1 {
    font-size: 35px;
    font-weight: 600;
    color: rgba(0, 0, 0);
    margin: 0 0 20px 0;
}

.project {
    display: flex;
    gap: 50px;
}

.description p {
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
    color: gray;
    margin: 0 0 20px 0;
}

.projectimg {
    width: 55vw;
    height: 50vh;
    border-radius: 30px;
}

.projectimg img {
    border-radius: 30px;
    padding-top: 15px;
    width: 45vw;
    height: 45vh;
}
.projectimg:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}

@media all and (max-width:1024px) {

    .project {
        flex-direction: column;
        gap: 20px;
    }

    .projectimg {
        width: 89vw;
        height: 44vh;
        padding-left: 5px;

    }

    .projectimg img {
        width: 87vw;
        height: 42vh;
    }

}