.navContainer{
    height: 10vh;
    display: flex;
    gap: 680px;
    align-items: center;
    padding: 0px 70px;
    background-color: #f3f3f3;
    position: fixed;
    top: 0;
    width: 100%;
    
}

.profileImg{
    display: flex;
    gap: 15px;
    align-items: center;  
    text-decoration: none;  
}
.profileImg h1{
    font-size: 23px;
    text-decoration: none;
    color:black ;
}
.links{
    display:flex;
    gap: 20px;
    
}
.link{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.link:hover{
    color: #926402;
}
